---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1 class="image-title">
      Felix Wolff
      <img src="{{ amsf_user_assets }}/img/brand.png">
    </h1>

    <h2 class="sub-title">Welcome to my personal blog and thought storage.</h2>

    <!--
      <small>
        theme <b>AMSF</b>&#x30FB;ver. <b class="amsf-version">2.0.22</b>&#x30FB;view it on
        <a href="https://github.com/sparanoid/almace-scaffolding">GitHub</a>
      </small>
    -->
  </header>

  <div class="page-content">
    <h2>Beancount</h2>
    {% for post in site.tags.beancount %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>Software Supply Chain Security</h2>
    {% for post in site.tags.sscs %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>
</article>
