<div id='github-card' class="card hidden fade-in">
  <div class="card-content">
    <span id='github-card-title' class="card-title grey-text"></span>
    <br>
    <p id='github-card-text'></p>
  </div>
  <div class="card-action">
    <a id='github-card-link' href="#">OPEN REPOSITORY</a>
  </div>
</div>

<script>
  setTimeout(function() {
    $.getJSON('https://api.github.com/users/flxw/events',
      function(data) {
        var headerText = '',
            bodyHtml = ''

        switch(data[0].type) {
          case "CreateEvent":
            headerText = "Published a new repository"
            bodyHtml   = "A public repository, conceived on " + data[0].created_at
            break

          case "WatchEvent":
            headerText = "Started watching a repo"
            bodyHtml   = "Called <i>" + data[0].repo.name + "</i>"
            break

          case "PushEvent":
            headerText = "Pushed code"
            bodyHtml = data[0].payload.size + " commits to <i>" + data[0].repo.name + "</i>"
            bodyHtml += "<ul class='collection'>"
            for (var i = 0; i < data[0].payload.commits.length; i++) {
              bodyHtml += "<li class='collection-item'>" + data[0].payload.commits[i].message + "</li>"
            }
            bodyHtml += "</ul>"
            break

          case "ForkEvent":
            headerText = "Forked repository"
            bodyHtml = "Created a fork of " + data[0].repo.name + " at " + data[0].payload.full_name
            break

          case "PullRequestEvent":
            headerText = "Issued a pull request"
            bodyHtml = "For merging pull request #" + data[0].payload.number + " from " + data[0].payload.pull_request.head.repo.full_name + " into " + data[0].repo.name + ":<br><quote>" + data[0].payload.pull_request.title + "</quote>"
            break

          default:
            return
        }

        $('#github-card-title').html('<i class="fa fa-github"></i> GitHub | ' + headerText)
        $('#github-card-text').html(bodyHtml)
        $('#github-card-link').attr('href', 'https://github.com/' + data[0].repo.name)

        $('#github-card').show()
      })
  }, 2000)
</script>