<header class="c-page__header">
  <div class="c-page__header_top_section">
    <img src="/assets/brandicon.png" />
    <div class="headline-block">
      <code>{{ site.title}}</code>
      <p>{{ site.description }}</p>
    </div>
  </div>
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">home</a>
    <span class="u-separate"></span> <a href="{{ "/blog/" | prepend: site.baseurl }}">blog</a>
<!--    <span class="u-separate"></span> <a href="{{ "/cv/" | prepend: site.baseurl }}">cv</a>
    <span class="u-separate"></span> <a href="{{ "/links/" | prepend: site.baseurl }}">links</a>
    <span class="u-separate"></span> <a href="{{ "/ideas/" | prepend: site.baseurl }}">ideas</a>
    <span class="u-separate"></span> <a href="{{ "/imprint/" | prepend: site.baseurl }}">Imprint</a> -->
    <span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
