<header class="z-depth-2">
  <div class="content">
    <div class="feature">
      <img src="/img/me.jpg">
      <div class="description">
        <p class="name">{{ site.title }}</p>
        <p class="speciality">{{ site.speciality }}</p>
        <p class="social">
          <a href="https://www.google.com/maps/place/Brisbane,+Australia"><i class="fa fa-map-marker"></i></a>
          <a href="http://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a>
          <a href="{{site.linkedin_url}}"><i class="fa fa-linkedin"></i></a>
          <a href="http://github.com/{{site.github_username}}"><i class="fa fa-github"></i></a>
          <a href="/feed.xml"><i class="fa fa-rss"></i></a>
        </p>
      </div>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red on-edge" href="mailto:felix.stefan.wolff+website@gmail.com?Subject=Hi!+I+saw+your+site!">
    <i class="mdi-communication-email"></i>
  </a>
</header>