<header class="c-page__header">
  <div class="c-page__header_brand_section">
    <img src="/assets/brandicon.png" />
    <p>{{ site.title}}</p>
  </div>
  <nav class="c-page__header_navigation_section">
    <ul>
      <li><a href="{{ "/" | prepend: site.baseurl }}">HOME</a></li>
      <li><a href="{{ "/blog/" | prepend: site.baseurl }}">BLOG</a></li>
      <li><a href="{{ "/cv/" | prepend: site.baseurl }}">CV</a></li>
<!--      <li><a href="{{ "/links/" | prepend: site.baseurl }}">LINKS</a></li>-->
      <li><a href="{{ "/imprint/" | prepend: site.baseurl }}">IMPRINT</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
    </ul>
  </nav>
</header>
