html, body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans;
}

.on-edge {
  position: absolute;
  top: 10rem;
  left: 10%;
}

.hidden {
  display: none;
}

main {
  flex: 1 0 auto;
}
