header {
  position: fixed;
  height: $headerheight;
  width: 100%;
  color: $header-text-color;
  background-image: url('/img/background.jpg');
  background-size: cover;
  z-index: 1000;

  .feature {
    padding: 1rem;
    img {
      margin: 0;
      padding: 0;
      height: 10rem;
      max-width: 30%;
      border-radius: 50%;
      border: 2px solid #fff;
    }

    .description {
      position: absolute;
      display: inline-block;
      margin: 1.5rem 0 0 2rem;

      p {
        margin: .75rem;
      }
      .name {
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 1.5rem;
      }
      .speciality {
        font-size: 1.5rem;
        font-weight: 300;
      }
      .social {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2rem;
      }
      i {
        margin: 0 0.3rem;
        color: #fff;
      }
    }
  }
}