.card-content, .post {
  font-family: 'Merriweather', serif
}

.card-title {
  font-family: 'Roboto', sans !important;
}

.post {
  p {
    font-size: 1.1rem;
    line-height: 1.5 !important;
    margin: 1rem 0 !important;
    text-align: justify;

    img:not(.active) {
      display: block;
      margin: 0 auto;
      max-height: 20rem;
      max-width: 80%;
    }
  }

  li {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans !important;
  }
}
