/* ==========================================================================
   Layout
   ========================================================================== */
body {
    background-color: #ededed
}

.u-container {
    max-width: 144rem; // 620px
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;

    background-color: #ffd300;
    box-shadow: 0 0 120px rgba(0,0,0,.15);
}

