/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    font-family: 'Open Sans', sans-serif;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.c-archives__year {
    margin-bottom: 2.5rem;
    @include fs--heading-1;
}

.c-archives__list {
    margin-bottom: 2.5rem;
    list-style: none;
}

.c-archives__item {
    padding: 4rem 0;
    border-top: 1px solid #EFF1F3;
}

.c-archives__item:hover {
    color: $archive-list-element-color-1-complement;
    background-color: $archive-list-element-color-1;

    * {
        color: $archive-list-element-color-1-complement;
        text-decoration-color: $archive-list-element-color-1-complement;
    }
}

.c-archives__item-content {
    width: 80ch;
    max-width: 80ch;
    margin: 0 auto;

    @include fs--heading-4;

    h3 {
        font-weight: 600;
    }

    small {
        color: $article-body-color;
        font-size: 1.3rem;
    }
}