/* ==========================================================================
   Page
   ========================================================================== */

.c-page {

}

.c-page__header {
    margin-bottom: 10px;
    
    img {
        display: inline-block;
        height: 10rem;
    }

    p {
        @include fs--meta;
    }

    .headline-block {
        padding: 5px;
        display: inline-block;
        
        code {
            font-size: 1.8rem;
        }
    
        p {
            color: #5C6E74;
        }
    }

    .c-page__header_top_section {
        padding-bottom: 1rem;
    }
}

.c-page__footer {
    margin-bottom: 10rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    p {
        @include fs--body;
        color: $c-base__01;
    }
}

